.array-container {
    position: absolute;
    left: 50px;
    right: 50px;
}

.array-bar {
    width: 2px;
    display: inline-block;
    margin: 0 1px;
}

button {
    margin: 10px 4px 0px 4px;
}